<h2><%= "#{@user.name}" %>'s inventory</h2>

<div class="pure-g">
    <div class="pure-u-1">
        <input type="text" id="sku-filter" placeholder="Search by SKU" >
        <table class="pure-table pure-table-horizontal inventory-table" id="inventory">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th class="sku">SKU</th>
                    <th>Quantity</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                <% @inventory.each do |i| %>
                    <tr>
                        <td><%= "#{i.product_name}" %></td>
                        <td class="sku"><%= "#{i.sku}" %></td>
                        <td><%= "#{i.quantity}" %></td>
                        <td><%= "#{i.color}" %></td>
                        <td><%= "#{i.size}" %></td>
                        <td><%= "#{i.price_cents}" %></td>
                        <td><%= "#{i.cost_cents}" %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <%= javascript_pack_tag( 'sku_filter' ) %>
</div>